{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-4"> 

                <h1>{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form class="form-horizontal" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-10">
                           {% render_field form.email class="form-control" placeholder="Email address" type="email" name="email" id="id_email" required="required" autofocus="autofocus" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button class="btn btn-lg btn-red btn-block" type="submit">{% trans 'Reset My Password' %}</button>
                        </div>
                    </div>
                    
                </form>

                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
           
            </div>
        </div>

    </div>

 {% endblock %}