
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
bin/*
include/*
lib/*
pip-selfcheck.json
media/*
*.pyc
*/__pycache__/*

selenium/
prepros.cfg
local/
../solr-4.10.2/example/logs/solr.log
cplex.log

