{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

  
    <div class="container">
      <!--  -->
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <h2>Explore <strong>120</strong> Projects</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <form class="form form-horizontal" method="POST" action="">
              <!-- {% csrf_token %} -->
              <input name="username" type="text" class="form-control" placeholder="Search Projects" required autofocus>
            </form>
          </div>
        </div>
        <hr>
      </div>
      <div class="row">
          <div class="col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/350X200" class="img-responsive" alt="...">
                <div class="caption">
                  <h3>Persistence of Paper</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <p><i class="fa fa-users fa-2x"></i> 15 Funders</p>
                  <p><i class="fa fa-star fa-2x"></i> 5 Challenges</p>
                  <p><i class="fa fa-clock-o fa-2x"></i> 20 Days Left</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                  <p><span class="pull-left"><strong>$223</strong></span><span class="pull-right"><strong>$1223</strong></span></p>
                  <br >
                  <p><span class="pull-left">RAISED</span><span class="pull-right">GOAL</span></p>

              
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/350X200" class="img-responsive" alt="...">
                <div class="caption">
                  <h3>Persistence of Paper</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <p><i class="fa fa-users fa-2x"></i> 15 Funders</p>
                  <p><i class="fa fa-star fa-2x"></i> 5 Challenges</p>
                  <p><i class="fa fa-clock-o fa-2x"></i> 20 Days Left</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                  <p><span class="pull-left"><strong>$223</strong></span><span class="pull-right"><strong>$1223</strong></span></p>
                  <br >
                  <p><span class="pull-left">RAISED</span><span class="pull-right">GOAL</span></p>

              
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/350X200" class="img-responsive" alt="...">
                <div class="caption">
                  <h3>Persistence of Paper</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <p><i class="fa fa-users fa-2x"></i> 15 Funders</p>
                  <p><i class="fa fa-star fa-2x"></i> 5 Challenges</p>
                  <p><i class="fa fa-clock-o fa-2x"></i> 20 Days Left</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                  <p><span class="pull-left"><strong>$223</strong></span><span class="pull-right"><strong>$1223</strong></span></p>
                  <br >
                  <p><span class="pull-left">RAISED</span><span class="pull-right">GOAL</span></p>

              
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/350X200" class="img-responsive" alt="...">
                <div class="caption">
                  <h3>Persistence of Paper</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <p><i class="fa fa-users fa-2x"></i> 15 Funders</p>
                  <p><i class="fa fa-star fa-2x"></i> 5 Challenges</p>
                  <p><i class="fa fa-clock-o fa-2x"></i> 20 Days Left</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                  <p><span class="pull-left"><strong>$223</strong></span><span class="pull-right"><strong>$1223</strong></span></p>
                  <br >
                  <p><span class="pull-left">RAISED</span><span class="pull-right">GOAL</span></p>

              
                </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/350X200" class="img-responsive" alt="...">
                <div class="caption">
                  <h3>Persistence of Paper</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <p><i class="fa fa-users fa-2x"></i> 15 Funders</p>
                  <p><i class="fa fa-star fa-2x"></i> 5 Challenges</p>
                  <p><i class="fa fa-clock-o fa-2x"></i> 20 Days Left</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                  <p><span class="pull-left"><strong>$223</strong></span><span class="pull-right"><strong>$1223</strong></span></p>
                  <br >
                  <p><span class="pull-left">RAISED</span><span class="pull-right">GOAL</span></p>

              
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/350X200" class="img-responsive" alt="...">
                <div class="caption">
                  <h3>Persistence of Paper</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <p><i class="fa fa-users fa-2x"></i> 15 Funders</p>
                  <p><i class="fa fa-star fa-2x"></i> 5 Challenges</p>
                  <p><i class="fa fa-clock-o fa-2x"></i> 20 Days Left</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                  <p><span class="pull-left"><strong>$223</strong></span><span class="pull-right"><strong>$1223</strong></span></p>
                  <br >
                  <p><span class="pull-left">RAISED</span><span class="pull-right">GOAL</span></p>

              
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/350X200" class="img-responsive" alt="...">
                <div class="caption">
                  <h3>Persistence of Paper</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <p><i class="fa fa-users fa-2x"></i> 15 Funders</p>
                  <p><i class="fa fa-star fa-2x"></i> 5 Challenges</p>
                  <p><i class="fa fa-clock-o fa-2x"></i> 20 Days Left</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                  <p><span class="pull-left"><strong>$223</strong></span><span class="pull-right"><strong>$1223</strong></span></p>
                  <br >
                  <p><span class="pull-left">RAISED</span><span class="pull-right">GOAL</span></p>

              
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/350X200" class="img-responsive" alt="...">
                <div class="caption">
                  <h3>Persistence of Paper</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <p><i class="fa fa-users fa-2x"></i> 15 Funders</p>
                  <p><i class="fa fa-star fa-2x"></i> 5 Challenges</p>
                  <p><i class="fa fa-clock-o fa-2x"></i> 20 Days Left</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                  <p><span class="pull-left"><strong>$223</strong></span><span class="pull-right"><strong>$1223</strong></span></p>
                  <br >
                  <p><span class="pull-left">RAISED</span><span class="pull-right">GOAL</span></p>

              
                </div>
            </div>
          </div>
      </div>

    </div> <!-- /container -->
    
{% endblock %}