{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
 
    <!-- Header -->
    <header>
        <div class="container">
          <p class="intro-text">Inroducing Codo</p>
          <p class="intro-sub-text">Crowdfunding with Strings attached <a href="/new_campaign" class="btn btn-red text-uppercase">Start Your Campaign</a></p>
        </div>
    </header>
    <!-- what's new with codo -->
    <div class="jumbotron yellow-jumbotron">
      <div class="container">
        <h2> What's new with Codo</h2>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <h3>Donate on your terms</h3>
            <img src="http://placehold.it/150" alt="..." class="img-responsive img-circle pull-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <h3>Engage with your community</h3>
            <img src="http://placehold.it/150" alt="..." class="img-responsive img-circle pull-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <h3>Multiply your impact</h3>
            <img src="http://placehold.it/150" alt="..." class="img-responsive img-circle pull-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
          </div>
        </div> <!-- End Row -->
      </div>
    </div>
      

    <div class="container">
      <!--  -->
      <div class="row">
        <div class="row">
          <div class="col-md-8">
            <h4>Trending Projects</h4>
          </div>
          <div class="col-md-4">
             <a href="/all_projects" class="btn btn-default pull-right text-uppercase">view All Projects</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
              <img src="http://placehold.it/350X200" class="img-responsive" alt="...">
              <div class="caption">
                <h3>Persistence of Paper</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                <p><i class="fa fa-users fa-2x"></i> 15 Funders</p>
                <p><i class="fa fa-star fa-2x"></i> 5 Challenges</p>
                <p><i class="fa fa-clock-o fa-2x"></i> 20 Days Left</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete (danger)</span>
                  </div>
                </div>
                <p><span class="pull-left"><strong>$223</strong></span><span class="pull-right"><strong>$1223</strong></span></p>
                <br >
                <p><span class="pull-left">RAISED</span><span class="pull-right">GOAL</span></p>

            
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
              <img src="http://placehold.it/350X200" class="img-responsive" alt="...">
              <div class="caption">
                <h3>Persistence of Paper</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                <p><i class="fa fa-users fa-2x"></i> 15 Funders</p>
                <p><i class="fa fa-star fa-2x"></i> 5 Challenges</p>
                <p><i class="fa fa-clock-o fa-2x"></i> 20 Days Left</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete (danger)</span>
                  </div>
                </div>
                <p><span class="pull-left"><strong>$223</strong></span><span class="pull-right"><strong>$1223</strong></span></p>
                <br >
                <p><span class="pull-left">RAISED</span><span class="pull-right">GOAL</span></p>

            
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
              <img src="http://placehold.it/350X200" class="img-responsive" alt="...">
              <div class="caption">
                <h3>Persistence of Paper</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                <p><i class="fa fa-users fa-2x"></i> 15 Funders</p>
                <p><i class="fa fa-star fa-2x"></i> 5 Challenges</p>
                <p><i class="fa fa-clock-o fa-2x"></i> 20 Days Left</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete (danger)</span>
                  </div>
                </div>
                <p><span class="pull-left"><strong>$223</strong></span><span class="pull-right"><strong>$1223</strong></span></p>
                <br >
                <p><span class="pull-left">RAISED</span><span class="pull-right">GOAL</span></p>

            
              </div>
          </div>
        </div>
      </div>

      <hr>
    </div> <!-- /container -->

{% endblock %}