{% extends 'base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
  <div class="jumbotron yellow-jumbotron">
    <div class="container">
      <h2 class="center-block">Create Your Campaign</h2>
      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. </h4>       
    </div>
  </div>
      
  <div class="container">
    <form class="form form-horizontal" method="POST" enctype="multipart/form-data" action="">
      {% csrf_token %}
      {{ wizard.management_form }}
        {% if wizard.form.errors %}
               <div class="row">
                <div class="col-md-8 col-md-offset-1">
                  <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong>  Please correct the error{{ wizard.form.errors|pluralize }} below.
                  </div>
                </div>
               </div>
        {% endif %}
          <div class="row">
            <div class="col-md-8 col-md-offset-1">
              <h3><strong>Account Info (step {{ wizard.steps.step1 }} of {{ wizard.steps.count }})</strong></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-1">
              <h5><strong>Tell us more about yourself!.</strong></h5>
            </div>
          </div>
          <div class="row" >
            <div role="tabpanel" class="tab-pane" id="accountinfo">
            <div class="row">
              <div class="col-md-8 col-md-offset-1">
                <h5><strong>Tell us more about yourself!</strong></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
             <div class="row" >
              <div class="col-md-8 col-md-offset-1">
                  <div class="form-group">
                    <label for="name" class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-8">
                      <input name="organizer-name" type="text" class="form-control" placeholder="{{user.name}}" disabled="disabled" required autofocus>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-sm-4 control-label">Email Address</label>
                    <div class="col-sm-8">
                     <input name="organizer-email" type="email" class="form-control" placeholder="{{user.email}}" disabled="disabled" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Country</label>
                    <div class="col-sm-8">
                      {% render_field wizard.form.country class="form-control" placeholder="Campaign Title" type="text" name="account_info-country" id="id_account_info-country" required="required" autofocus="autofocus" %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="phone_number" class="col-sm-4 control-label">Phone Number</label>
                    <div class="col-sm-8">
                      {% render_field wizard.form.phone_number class="form-control" placeholder="+19543600000" type="text" name="account_info-phone_number" id="id_account_info-phone_number" required="required" autofocus="autofocus" %}
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="short_bio" class="col-sm-4 control-label">Short Bio</label>
                    <div class="col-sm-8">
                      {% render_field wizard.form.short_bio class="form-control" placeholder="Short Bio" name="account_info-short_bio" id="id_account_info-short_bio" required="required" autofocus="autofocus" %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="profile_picture" class="col-sm-4 control-label">Profile Picture</label>
                    <div class="col-sm-8">
                      {% render_field wizard.form.profile_picture class="form-control" placeholder="Profile Picture" name="account_info-profile_picture" id="id_account_info-profile_picture" required="required"%}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="facebook_url" class="col-sm-4 control-label">Facebook</label>
                    <div class="col-sm-8">
                      {% render_field wizard.form.facebook_url class="form-control" placeholder="Link to your Facebook Profile" name="account_info-facebook_url" id="id_account_info-facebook_url" required="required"%}
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="twitter_url" class="col-sm-4 control-label">Twitter</label>
                    <div class="col-sm-8">
                      {% render_field wizard.form.twitter_url class="form-control" placeholder="Link to your Twitter" name="account_info-twitter_url" id="id_account_info-twitter_url" required="required"%}
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="website_url" class="col-sm-4 control-label">Website</label>
                    <div class="col-sm-8">
                      {% render_field wizard.form.website_url class="form-control" placeholder="Link to your Website" name="account_info-website_url" id="id_account_info-website_url" required="required"%}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="dob" class="col-sm-4 control-label">Date Of Birth</label>
                    <div class="col-sm-8">
                      {% render_field wizard.form.dob class="form-control" placeholder="04-05-1980" name="account_info-dob" id="id_account_info-dob" required="required"%}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="emptyLabel" class="col-sm-8 control-label"></label>
                    <div class="col-sm-4">
                      <button class="btn btn-lg btn-red btn-block all-caps" type="submit">Submit</button>
                    </div>
                  </div>
               
              </div>
            </div>
          </div>
          </div>
      
    </form>
  </div>

  <div class="jumbotron faq-jumbotron">
    <div class="container">
      <h3>Frequently Asked Questions(FAQ)</h3>
      <div class="row">
        <div class="col-md-5">
          <h5><strong>Q:Sunt in culpa qui officia deserunt mollit ani?</strong></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <h5><strong>Q:Duis aute irure dolor in reprehenderit in?</strong></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-5">
          <h5><strong>Q:Duis aute irure dolor in reprehenderit in?</strong></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <h5><strong>Q:Dolor sit amet, consectetur adipisicing?</strong></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
{{block.super}}
<script src="{% static 'bootstrap/js/create_campaign.js' %}"></script>
{% endblock %}