{% extends 'base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

  {% include 'campaigns/partials/campaign_creation_form_header.html'%}
      
  <div class="container">
    <form class="form form-horizontal" method="POST" enctype="multipart/form-data" action="">
      {% csrf_token %}
      {{ wizard.management_form }}
        {% if wizard.form.errors %}
               <div class="row">
                <div class="col-md-8 col-md-offset-1">
                  <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong>  Please correct the error{{ wizard.form.errors|pluralize }} below.
                  </div>
                </div>
               </div>
        {% endif %}
          <div class="row">
            <div class="col-md-8 col-md-offset-1">
              <h3><strong>Campaign Info (step {{ wizard.steps.step1 }} of {{ wizard.steps.count }})</strong></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-1">
              <h5><strong>Setup your project - tell us about yourself, your project, and your funding story.</strong></h5>
            </div>
          </div>
          <div class="row" >
            <div class="col-md-8 col-md-offset-1">
                <div class="form-group">
                  {{wizard.form.title.errors}}
                  <label for="title" class="col-sm-4 control-label">Campaign Title</label>
                  <div class="col-sm-8">
                    
                    {% render_field wizard.form.title class="form-control" placeholder="Campaign Title" type="text" name="campaign_info-title" id="id_campaign_info-title" required="required" autofocus="autofocus" %}
                    
                  </div>
                </div>
                <div class="form-group">
                   {{wizard.form.blurb.errors}}
                  <label for="blurb" class="col-sm-4 control-label">Short Blurb</label>
                  <div class="col-sm-8">
                   {% render_field wizard.form.blurb class="form-control" placeholder="Short Blurb" type="text" name="campaign_info-blurb" id="id_campaign_info-blurb" required="required" autofocus="autofocus" %}
                  </div>
                </div>

                <div class="form-group">
                  {{wizard.form.category.errors}}
                  <label for="category" class="col-sm-4 control-label">Campaign Category</label>
                  <div class="col-sm-8">
                     {%render_field wizard.form.category class="form-control" name="campaign_info-category" id="id_campaign_info-category" required="required"%}
                  </div>
                </div>
                <div class="form-group">
                  {{wizard.form.description.errors}}
                  <label for="description" class="col-sm-4 control-label">Campaign Description</label>
                  <div class="col-sm-8">
                    {%render_field wizard.form.description class="form-control" name="campaign_info-description" id="id_campaign_info-description" required="required"%}
                  </div>
                </div>
                <div class="form-group">
                  {{wizard.form.picture.errors}}
                  <label for="picture" class="col-sm-4 control-label">Project Image</label>
                  <div class="col-sm-8">
                    {% render_field wizard.form.picture class="form-control" placeholder="Select an image from your computer"  name="campaign_info-picture" id="id_campaign_info-picture" required="required" autofocus="autofocus" %}
                  </div>
                </div>
                <div class="form-group">
                   {{wizard.form.video_url.errors}}
                  <label for="video_url" class="col-sm-4 control-label">Project Video URL</label>
                  <div class="col-sm-8">
                    {% render_field wizard.form.video_url class="form-control" placeholder="URL of Project Video"  name="campaign_info-video_url" id="id_campaign_info-video_url" required="required" autofocus="autofocus" %}
                  </div>
                </div>
 
                <div class="form-group">
                 {{wizard.form.goal_amount.errors}}
                  <label for="goal_amount" class="col-sm-4 control-label">Funding Goal <small>(USD)</small></label>
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-8">
                        {% render_field wizard.form.goal_amount class="form-control" placeholder="Funding Goal"  name="campaign_info-goal_amount" id="id_campaign_info-goal_amount" required="required" autofocus="autofocus" min="1"%}
                      </div>
                      <!-- <div class="col-sm-4">
                       <select class="form-control">
                         <option value="usd">USD</option>
                         <option value="eur">Euros</option>
                       </select>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="form-group">
                {{wizard.form.end_date.errors}}
                  <label for="end_date" class="col-sm-4 control-label">End Date <small>(default 30 days)</small> </label>
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-8">
                         {% render_field wizard.form.end_date class="form-control" placeholder="Funding Goal"  name="campaign_info-end_date" id="id_campaign_info-end_date" required="required" autofocus="autofocus" min="1"%}
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="form-group">
                 {{wizard.form.rewards_enabled.errors}}
                  <label for="rewards_enabled" class="col-sm-4 control-label">Enable Rewards</label>
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-8">
                         {% render_field wizard.form.rewards_enabled  name="campaign_info-rewards_enabled" id="id_campaign_info-rewards_enabled" autofocus="autofocus"%}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                {{wizard.form.conditionals_enabled.errors}}
                  <label for="conditionals_enabled" class="col-sm-4 control-label">Enable Conditionals</label>
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-8">
                         {% render_field wizard.form.conditionals_enabled  name="campaign_info-conditionals_enabled" id="id_campaign_info-conditionals_enabled" autofocus="autofocus"%}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="emptyLabel" class="col-sm-7 control-label"></label>
                  <div class="col-sm-5">
                    <button type="submit" class="btn btn-lg btn-red btn-block text-uppercase cont"> Next ></button>
                  </div>
                </div>
             
            </div>
          </div>
      
    </form>
  </div>

  {% include 'campaigns/partials/faqs.html'%}

{% endblock %}

{% block javascript %}
{{block.super}}
{{wizard.form.media}}
<script src="{% static 'bootstrap/js/create_campaign.js' %}"></script>
{% endblock %}