{% extends 'base.html' %}

{% load staticfiles %}
{% load embed_video_tags %}

{% block content %}
      
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>{{campaign.title}}</h2>
          <img src="{{campaign.picture.url}}" class="img-responsive img-rounded">
          <p>{{campaign.blurb}}</p>
        </div>
        <div class="col-md-4">
          <h2>&nbsp;</h2>
          <h3><i class="fa fa-money"></i> $223 <br ><small>Funds Raised</small></h3>
          <hr>
          <p><i class="fa fa-flag-o fa-2x"></i> {{campaign.goal_amount}} Goal</p>
          <p><i class="fa fa-clock-o fa-2x"></i> 20 Days To Go</p>
          <p><i class="fa fa-users fa-2x"></i> 15 Funders</p>
          <p><i class="fa fa-star fa-2x"></i> 5 Challenges</p>
          
          <a href="#paymentModal" class="toggle col-md-12 btn btn-primary">Fund This Project</a>

          <p><a class="pull-left" href=""><i class="fa fa-heart"></i> Mark as favorite</a><a class="pull-right" href=""><i class="fa fa-star"></i> Remind Me</a></p>
          
        </div>

      </div>
      <!-- New Payment Panel -->
      <div class="row paymentPanel hidden" id="paymentModal">
        <div class="col-md-12">
                    
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Funding Options</h3>
                    <!-- Watch Out: Here We must use the effect name in the data tag-->
              <span class="pull-right"><a href="#paymentModal" class="toggle"><i class="fa fa-times fa-2x"></i></a></span>
          
            </div>
            <div class="panel-body">
              <class class="row">
                <div id="donation" class="seven columns">
                  <div class="container">
                    <div id="donation_form" class="chal_form">
                    <!-- <div class="content_form"> -->
                    <span class="title">Make a Direct Donation</span>
                    <aside id="direct_aside">
                      Example: I will donate <b>20 AED<br><br></b>
                    </aside>

                    <div id="direct" class="form">
                      I will donate <br>
                      <input type="number" id="donation_amount" class="amount" min='5' max='1000' value='20' step="1"></input> AED.
                      <br>
                      <button id = "donate" class="button-primary">Donate</button>
                    </div>


                    <hr>
                    <img class="arrow" src="static/img/arro.png" style="width: 40px; height: 30px; margin-left: 40%; opacity: 0.5">
                    
                  </div>
                  
                  <div class="break"></div>

                  <div id="microform" class="chal_form"> 
                          <span class="title">Challenge your community</span><br>
                          <aside id="micro_aside" >
                            Example: I will donate <b>20 AED</b>
                            ONLY if <b>10</b> people 
                            donate <b>10 AED</b> each. <br><br>
                          </aside>
                          <div id="micro" class="form">
                            I will donate <br><input type="number" id="t3_donation_amount" class="amount" min='5' max='1000' value="20" step="1"></input> AED ONLY if <br><input type="number" id="num_people" class="input_amt" min="2" max="100" value="10" step="1"></input> people donate at least<br><input type="number" id="micro_amount" class="input_amt" min='10' max='1000' value="10" step="1"></input> AED each.
                            <br>
                            <!-- <div id="current_stats" class="msg"></div> -->
                            <button id="micro" class="button-primary challenge_button">Add Challenge</button>
                          </div>


                          <hr>
                          <img class="arrow" src="static/img/arro.png" style="width: 40px; height: 30px; margin-left: 40%; opacity: 0.5">
                  </div> 

                  <div class="break"></div>
                  <div id="friendsform" class="chal_form"> 
                          <span class="title">Challenge your friends</span>
                          <aside id="friendly_aside">
                            Example: I will donate <b>20 AED</b> if <b>Bob</b> donates <b>20 AED</b>.<br><br> 
                          </aside>

                          

                          <div id="friendly" class="form">
                              I will donate <br><input type="number" id="t1_donation_amount"  class="amount" min='5' max='1000' value="20" step="1"></input> 
                              AED if
                              <br><input  type="text" id="friends" class='friendcount' placeholder="Enter friend's netID"></input> 
                              donates at least<br><input type="number" id="friend_amount" class="input_amt" min='5' max='1000' value="5" step="1"></input> AED 
                              <br><span id='addfriend' class="link"> [+] Add another friend</span> 

                              <div id="current_friends" class="msg"></div>

                              <br><br><button id="friendly" class="button-primary challenge_button">Add Challenge</button>
                          </div>

                          <hr>
                          <img class="arrow" src="static/img/arro.png" style="width: 40px; height: 30px; margin-left: 40%; opacity: 0.5">
                  </div>
            </div>
                
          </div>
              </class>
            </div>
          </div>
        </div>
      </div>

     <!--  Project info part including Video -->
      <div class="row campaignDescription">
        <div class="col-md-8">
          <h2>Product Info</h2>
          <p>{{campaign.description}}</p>
          
          {% video campaign.video_url 'medium' %}

          <!-- <iframe class="center-block" width="560" height="315" src="{{campaign.video_url}}" frameborder="0" allowfullscreen></iframe> -->

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. </p>


        </div>
        <div class="col-md-4">
        {% if campaign.reward_set.all.count > 0 %}
          <h2>Rewards</h2>
          {% for reward in campaign.reward_set.all %}
            <div class="jumbotron">
               <div class="table-responsive">
                  <table class="table table-bordered">
                    <tr>
                      <td colspan="2" class="text-center"><strong>{{ reward.title }}</strong></td> 
                    </tr>
                    <tr>
                      <td>{{reward.pledge_amount}}</td>
                      <td rowspan="2">{{reward.description}}
                      </td>
                      
                    </tr>
                    <tr>
                      <td>{{ reward.number_funders }} Funders</td>
                    </tr>
                  </table>
                </div>
            </div>
          {% endfor %}
        {% endif %}
      
       
          <h2>About the Creator</h2>
          <img src="{{campaign.organizer.profile_picture.url}}" class="img-rounded img-responsive pull-left" width="100px" height="100px">
          <p>{{campaign.organizer.short_bio}}</p>
          
        </div>

      </div>

    </div>

{% endblock %}

{% block javascript %}
  {{super}}
  <script src="{% static 'bootstrap/js/jquery-ui.js' %}"></script>
  <script src="{% static 'bootstrap/js/helper.js' %}"></script>
  <script src="{% static 'bootstrap/js/ripples.js' %}"></script>

{% endblock %}