{% extends 'base.html' %}

{% load staticfiles %}
{% load embed_video_tags %}

{% block content %}
      
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>{{campaign.title}}</h2>
          <img src="{{campaign.picture.url}}" class="img-responsive img-rounded">
          <p>{{campaign.blurb}}</p>
        </div>
        <div class="col-md-4">
          <h2>&nbsp;</h2>
          <h3><i class="fa fa-money"></i> $<span id="amt_funded">0</span> <br ><small>Funds Raised</small></h3>
          <hr>
          <p><i class="fa fa-flag-o fa-2x"></i> {{campaign.goal_amount}} Goal</p>
          <p><i class="fa fa-clock-o fa-2x"></i>  {{campaign.end_date|timeuntil}} Left</p>
          <p><i class="fa fa-users fa-2x"></i><span id="num_funders">0 Funders</span></p>
          <p><i class="fa fa-star-o fa-3x"></i><span id="num_challenges">0 Challenges</span> </p>
          {% if user.is_authenticated %}
            {% if djangoData.has_donation == 'true' %}
              <div id="thankyou" class="jumbotron">
                <div class="container">
                  <div class="boxes">
                  
                  </div>
                </div>
              </div>
            {% else %}
              <a href="#paymentModal" data-toggle="collapse" class="col-md-12 btn btn-primary">Fund This Project</a>
              <p><a class="pull-left" href=""><i class="fa fa-heart"></i> Mark as favorite</a><a class="pull-right" href=""><i class="fa fa-star"></i> Remind Me</a></p>
            {% endif %}
          {% else %}
            <a href="{% url 'account_login'%}?next={% firstof request.path '/' %}" class="col-md-12 btn btn-primary">Login To Fund this Project</a>
          {% endif %}
 
        </div>

      </div>
      {% if user.is_authenticated %}
        {% if djangoData.has_donation != 'true' %}
         <!-- New Payment Panel -->
        <div class="row collapse" id="paymentModal">
          <div class = "panel panel-info">
           <div class = "panel-heading">
              <h3 class="panel-title">Funding Options</h3>
              <span class="pull-right"><a href="#paymentModal" data-toggle="collapse"><i class="fa fa-times fa-2x"></i></a></span>
           </div>
           <div class = "panel-body">
                <div class="col-md-8">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <strong>Make a Direct Donation</strong>
                          </a>
                        </h4>
                         <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         Example: I will donate <strong>20 USD</strong>
                          <img class="img-responsive" src="{% static 'img/arro.png' %}" style="width: 40px; height: 30px; margin-left: 40%; opacity: 0.5">
                         </a>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <form id="direct" class="form-inline">
                              I will donate <br>
                              <div class="form-group">
                                <input type="number" id="donation_amount" class="amount form-control" min='5' max='1000' value='20' step="1"></input> USD.
                                </div>
                              <div class="form-group">
                                <button id="donate" type="submit" class="btn btn-primary">Donate</button>
                              </div>
                            </form>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>Challenge Your Community</strong>
                          </a>
                        </h4>
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <aside id="micro_aside" >
                          Example: I will donate <b>20 USD</b>
                          ONLY if <b>10</b> people 
                          donate <b>10 USD</b> each. <br><br>
                        </aside>
                        <img class="img-responsive" src="{% static 'img/arro.png' %}" style="width: 40px; height: 30px; margin-left: 40%; opacity: 0.5">
                        </a>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                              <form id="micro" class="form-inline">
                                I will donate <br>
                                <div class="form-group">
                                  <input type="number" id="t3_donation_amount" class="amount form-control" min='5' max='1000' value="20" step="1"></input> USD ONLY if
                                </div>
                                <div class="form-group">
                                  <input type="number" id="num_people" class="input_amt form-control" min="2" max="100" value="10" step="1"></input> people donate at least
                                </div>
                                <div class="form-group">
                                  <input type="number" id="micro_amount" class="input_amt form-control" min='10' max='1000' value="10" step="1"></input> USD each.
                                </div>
                                
                                <div class="form-group">
                                  <!-- TODO CHANGE ID to micro here -->
                                  <button id="micr" type="submit" class="btn btn-primary challenge_button">Add Challenge</button>
                                </div>
                              </form>
                              <div id="current_stats" class="msg"></div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           <strong>Challenge Your Friends</strong>
                          </a>
                        </h4>
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <aside id="friendly_aside">
                              Example: I will donate <b>20 USD</b> if <b>Bob</b> donates <b>20 USD</b>.<br><br> 
                            </aside>
                            <img class="img-responsive" src="{% static 'img/arro.png' %}" style="width: 40px; height: 30px; margin-left: 40%; opacity: 0.5">
                          </a>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                          <form id="friendly" class="form-inline">
                            I will donate <br>
                            <div class="form-group">
                              <input type="number" id="t1_donation_amount"  class="amount form-control" min='5' max='1000' value="20" step="1"></input> USD if
                            </div>
                            <div class="form-group">
                              <input  type="text" id="friends" class='form-control friendcount' placeholder="Enter friend's email"></input> donates at least
                            </div>
                            <div class="form-group">
                              <input type="number" id="friend_amount" class="input_amt form-control" min='5' max='1000' value="5" step="1"></input> USD
                            </div> 
                            <br><span id='addfriend' class="link"> [<i class="fa fa-plus" aria-hidden="true"></i>] Add another friend.</span> 

                            <div id="current_friends" class="msg"></div>
                            <div class="form-group">
                              <!-- TODO CHANGE ID to friendly here -->
                              <button id="friendl" type="submit" class="btn btn-primary challenge_button">Add Challenge</button>
                            </div>
                          </form>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col md-4">
                  
                </div>
           </div> <!-- End of panel body -->
        </div>
        </div> <!-- End of Payment Modal -->
        {% endif %}
      {% endif %}

     <!--  Campaign information part including Video -->
      <div class="row campaignDescription">
        <div class="col-md-8">
          <h2>Campaign Information</h2>
          <p>{{campaign.description}}</p>
          
          {% video campaign.video_url 'medium' %}

          <!-- <iframe class="center-block" width="560" height="315" src="{{campaign.video_url}}" frameborder="0" allowfullscreen></iframe> -->

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. </p>


        </div>
        <div class="col-md-4">
        {% if campaign.reward_set.all.count > 0 %}
          <h2>Rewards</h2>
          {% for reward in campaign.reward_set.all %}
            <div class="jumbotron">
               <div class="table-responsive">
                  <table class="table table-bordered">
                    <tr>
                      <td colspan="2" class="text-center"><strong>{{ reward.title }}</strong></td> 
                    </tr>
                    <tr>
                      <td>{{reward.pledge_amount}}</td>
                      <td rowspan="2">{{reward.description}}
                      </td>
                      
                    </tr>
                    <tr>
                      <td>{{ reward.number_funders }} Funders</td>
                    </tr>
                  </table>
                </div>
            </div>
          {% endfor %}
        {% endif %}
      
       
          <h2>About the Creator</h2>
          <img src="{{campaign.organizer.profile_picture.url}}" class="img-rounded img-responsive pull-left" width="100px" height="100px">
          <p>{{campaign.organizer.short_bio}}</p>
          
        </div>

      </div>

    </div>

{% endblock %}

{% block javascript %}
  {{block.super}}
  <script src="{% static 'bootstrap/js/jquery-ui.js' %}"></script>
  <script src="{% static 'bootstrap/js/helper.js' %}"></script>
  <script src="{% static 'bootstrap/js/ripples.js' %}"></script>
{% endblock %}