{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}
      
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% if messages %}

                    {% for message in messages %}
                   
                    <div class="alert alert-warning" role="alert">
                        <strong>ERROR!</strong> {{ message }}
                    </div>
                    
                    {% endfor %}

                {% endif %}

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Please click <a href="{% url 'index' %}">here</a>  to retunrn to the homepage!</p>
            </div>
        </div>
    </div>

{% endblock %}