<div class="jumbotron faq-jumbotron">
    <div class="container">
      <h3>Frequently Asked Questions(FAQ)</h3>
      <div class="row">
        <div class="col-md-5">
          <h5><strong>Q: How long does the review process take?</strong></h5>
          <p>At CrowdEmpowered we do our best to review your campaign as soon as possible. But please allow a maximum of three days to hear from US. You will be notified when the campaign is approved.</p>
          <h5><strong>Q: Can I submit more than one campaign the same day?</strong></h5>
          <p>Yes this is completely fine as long they are two different campaigns.</p>
        </div>
        <div class="col-md-5">
          <h5><strong>Q: What happens after my campaign gets accepted?</strong></h5>
          <p>After your campaign gets accepted it will go live on the website and donors will be able to start contributing right away. </p>
          <h5><strong>Q: How long should my campaign be run?</strong></h5>
          <p>30 days is generally a good number of days to have a program running. However, you are free to pick a slightly lower or slightly higher time frame.</p>
        </div>
      </div>
    </div>
  </div>