{% extends 'base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
            <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                                {% if organizer.profile_picture %}
                                <img src="{{organizer.profile_picture.url}}" alt="" class="center-block img-circle img-responsive">
                                {% else %}
                                <img src="{% static 'img/default-avatar.png' %}" alt="" class="center-block img-circle img-responsive">
                                {% endif %}
                                
                        </div><!--/col--> 
                      
                      
                        <div class="col-xs-12 col-sm-8">
                            <h2>{{organizer.user.get_full_name}}</h2>
                            <p><strong>About: </strong>{{organizer.short_bio}}</p>
                            <p><strong>Country: </strong>{{organizer.country.name}}</p>
                            <p><strong>Links</strong></p>
                            <p>
                                <a href="{{organizer.twitter_url}}" target="_blank"><i class="fa fa-twitter fa-4x"></i></a>
                                <a href="{{organizer.facebook_url}}" target="_blank"><i class="fa fa-facebook fa-4x" target="_blank"></i></a>
                                <a href="{{organizer.website_url}}" target="_blank"><i class="fa fa-globe fa-4x"></i></a>
                            </p>
                        </div><!--/col-->          
                       
                    </div> <!-- row -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h2><strong> 12 </strong></h2>                    
                            <p><small>Campaigns</small></p>
                            <button class="btn btn-warning btn-block"><span class="fa fa-plus-circle"></span> View Campaigns</button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-6">
                            <h2><strong> 12 </strong></h2>                    
                            <p><small>Backed Campaigns</small></p>
                            <button class="btn btn-warning btn-block"><span class="fa fa-plus-circle"></span> View Backed Campaigns</button>
                        </div><!--/col-->
                        
                    </div><!--/row-->

            </div><!--/panel-body-->
            {% if organizer.user == user %}
                <div class="panel-footer">
                <a href="{% url 'profile_update' pk=user.organizer.id %}" class="btn btn-red">Update Profile</a>
                </div>
            {% endif %}
        
          </div><!--/panel-->

    
    
    </div>
  </div>
</div>

{% endblock %}

