{% extends 'main/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="jumbotron yellow-jumbotron">
      <div class="container">
        <h2 class="center-block">Create Your Campaign</h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. </h4>
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a href="#campaign-info" data-target="#campaigninfo" aria-controls="campaigninfo" role="tab" data-toggle="tab" class="btn btn-yellow all-caps">Campaign Info</a>
          </li>
          <li>
            <a href="#conditionals" data-target="#conditionals" aria-controls="conditionals" role="tab" data-toggle="tab" class="btn btn-yellow all-caps">User Conditionals</a>
          </li>
          <li>
            <a href="#rewards" data-target="#rewards" aria-controls="rewards" role="tab" data-toggle="tab" class="btn btn-yellow all-caps">Rewards</a>
          </li>
          <li>
            <a href="#accountinfo" data-target="#accountinfo" aria-controls="accountinfo" role="tab" data-toggle="tab" class="btn btn-yellow all-caps">Account Info</a>
          </li>
          <span class="pull-right">
            <a href="" class="btn btn-red all-caps">Preview</a>
            <a href="" class="btn btn-green text-uppercase">Publish</a>
          </span>
        </ul>        
      </div>
    </div>
      
    <div class="container">
           <!-- Tab content -->
      <form class="form form-horizontal" method="POST" action="">
        {% csrf_token %}
        <div class="tab-content">
          <div class="tab-pane active" id="campaigninfo">
            <div class="row">
              <div class="col-md-8 col-md-offset-1">
                <h5><strong>Setup your project - tell us about yourself, your project, and your funding story.</strong></h5>
              </div>
            </div>
            <div class="row" >
              <div class="col-md-8 col-md-offset-1">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Campaign Title</label>
                    <div class="col-sm-8">
                      <input name="username" type="text" class="form-control" placeholder="Campaign Title" required autofocus>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Short Blurb</label>
                    <div class="col-sm-8">
                     <input name="username" type="text" class="form-control" placeholder="Short Blurb" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Campaign Category</label>
                    <div class="col-sm-8">
                     <select name="campaign-category" class="form-control">
                       <option value="Art">Art</option>
                       <option value="Science">Science</option>
                     </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Campaign Description</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="campaign-description" rows="3">
                        Your description here
                      </textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Project Image</label>
                    <div class="col-sm-8">
                      <input name="project-video" type="file" accept="image/*" class="form-control"  placeholder="Select An imge from your computer" required >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Project Video</label>
                    <div class="col-sm-8">
                      <input name="project-video" type="text" class="form-control"  placeholder="Link to Project Video" required >
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Funding Goal</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-sm-8">
                          <input name="username" type="number" class="form-control"  placeholder="Funding Goal" required>
                        </div>
                        <div class="col-sm-4">
                         <select class="form-control">
                           <option value="usd">USD</option>
                           <option value="eur">Euros</option>
                         </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Fundinng Period</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-sm-8">
                          <input name="funding-period" type="number" class="form-control"  placeholder="Funding Period" required>
                        </div>
                        <div class="col-sm-4">
                         <p>DAYS</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="emptyLabel" class="col-sm-7 control-label"></label>
                    <div class="col-sm-5">
                      <button class="btn btn-lg btn-red btn-block text-uppercase" type="submit">Next > User Conditionals</button>
                    </div>
                  </div>
               
              </div>
            </div>
          </div>
          <div class="tab-pane" id="conditionals">
            <div class="row">
              <div class="col-md-8 col-md-offset-1">
                <h5><strong>Empower your donors, and allow them to donate to your project on their terms.</strong></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
              </div>
            </div>
            <div class="row" >
              <div class="col-md-8 col-md-offset-1">
                <div class="form-group">
                    <div class="checkbox col-md-12">
                      <label>
                        <input type="checkbox" name="direct-donation" value="direct-donation">
                        <div class="jumbotron">
                          <h4><strong>Enable Rewards</strong></h4>
                          <p>I will donate $100</p>
                        </div>
                      </label>
                    </div>
                    <div class="checkbox col-md-12">
                      <label>
                        <input type="checkbox" name=""  value="conditional-friends">
                        <div class="jumbotron">
                          <h4><strong>Conditionals on Friends</strong></h4>
                          <input type="checkbox" name=""  value="conditional-friends"><strong>Conditional on participation</strong>
                          <p>I will donate $100</p><br>
                          <input type="checkbox" name=""  value="conditional-friends"><strong>Conditional on participation and amount</strong>
                           <p>I will donate $100</p>
                        </div>
                      </label>
                    </div>
                    <div class="checkbox col-md-12">
                      <label>
                        <input type="checkbox" name=""  value="conditional-friends">
                        <div class="jumbotron">
                          <h4><strong>Conditionals on Community</strong></h4>
                          <input type="checkbox" name=""  value="conditional-friends">
                          <strong>Conditional on participation</strong>
                          <p>I will donate $100</p><br>
                          <input type="checkbox" name=""  value="conditional-friends">
                          <strong>Conditional on participation and amount</strong> 
                          <p>I will donate $100</p>
                        </div>
                      </label>
                    </div>
                    <div class="checkbox col-md-12">
                      <label>
                        <input type="checkbox" name="" value="direct-donation">
                        <div class="jumbotron">
                          <h4><strong>Conditional on Milestone</strong></h4>
                          <p>I will donate $100 only if the total amount raised is $500</p>
                        </div>
                      </label>
                    </div>
                    <div class="checkbox col-md-12">
                      <label>
                        <input type="checkbox" name="" value="direct-donation">
                        <div class="jumbotron">
                          <h4><strong>Matching Donations</strong></h4>
                          <p>I will donate $100 only if the total amount raised is $500</p>
                        </div>
                      </label>
                    </div>
                    <div class="form-group">
                      <label for="emptyLabel" class="col-sm-8 control-label"></label>
                      <div class="col-sm-4">
                        <button class="btn btn-lg btn-red btn-block text-uppercase" type="submit">Next > Rewards</button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="rewards">
            <div class="row">
              <div class="col-md-12">
                <h5><strong>Thank your donors for supporting you!</strong></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>

                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Enable Rewards
                  </label>
                </div>
                <h5><strong>REWARD</strong></h5>
                <div class="jumbotron">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="pledgeAmount" class="col-sm-4 control-label">Pledge Amount</label>
                        <div class="col-sm-8">
                          <input name="campaign-title" type="text" class="form-control" placeholder="Campaign Title" required autofocus>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="rewardTitle" class="col-sm-4 control-label">Reward Title</label>
                        <div class="col-sm-8">
                          <input name="reward-title" type="text" class="form-control" placeholder="Reward Title" required autofocus>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="numberOfFunders" class="col-sm-4 control-label">Number of Funders</label>
                        <div class="col-sm-8">
                          <input name="number-of-funders" type="text" class="form-control" placeholder="Number of Funders" required autofocus>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-4 control-label"> Description</label>
                          <div class="col-sm-8">
                            <textarea class="form-control" name="reward-description" rows="3">
                              Your description here
                            </textarea>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="emptyLabel" class="col-sm-8 control-label"></label>
                  <div class="col-sm-4">
                    <button class="btn btn-lg btn-red btn-block text-uppercase" type="submit">Next > Account Info</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        

          <div role="tabpanel" class="tab-pane" id="accountinfo">
            <div class="row">
              <div class="col-md-8 col-md-offset-1">
                <h5><strong>Tell us more about yourself!</strong></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
             <div class="row" >
              <div class="col-md-8 col-md-offset-1">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-8">
                      <input name="organizer-name" type="text" class="form-control" placeholder="Name" required autofocus>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Email Address</label>
                    <div class="col-sm-8">
                     <input name="organizer-email" type="email" class="form-control" placeholder="Email" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Country</label>
                    <div class="col-sm-8">
                     <select name="organizer-country" class="form-control">
                       <option value="Art">UAE</option>
                       <option value="Science">USA</option>
                     </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Phone Number</label>
                    <div class="col-sm-8">
                     <input name="organizer-email" type="number" class="form-control" placeholder="Phone" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Short Bio</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="campaign-description" rows="3">
                        Your bio here
                      </textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Profile Picture</label>
                    <div class="col-sm-8">
                      <input name="organizer-picture" type="file" accept="image/*" class="form-control"  placeholder="Select An image from your computer" required >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Facebook</label>
                    <div class="col-sm-8">
                      <input name="project-video" type="text" class="form-control"  placeholder="Link to your Facebook Profile" required >
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Twitter</label>
                    <div class="col-sm-8">
                      <input name="project-video" type="text" class="form-control"  placeholder="Link to your Twitter" required >
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Website</label>
                    <div class="col-sm-8">
                      <input name="project-video" type="text" class="form-control"  placeholder="Link to your Website" required >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="emptyLabel" class="col-sm-8 control-label"></label>
                    <div class="col-sm-4">
                      <button class="btn btn-lg btn-red btn-block all-caps" type="submit">Preview</button>
                    </div>
                  </div>
               
              </div>
            </div>
          </div>

        </div> <!-- end of tab-content -->
      </form>
    </div>
    <div class="jumbotron faq-jumbotron">
      <div class="container">
        <h3>Frequently Asked Questions(FAQ)</h3>
        <div class="row">
          <div class="col-md-5">
            <h5><strong>Q:Sunt in culpa qui officia deserunt mollit ani?</strong></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h5><strong>Q:Duis aute irure dolor in reprehenderit in?</strong></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-md-5">
            <h5><strong>Q:Duis aute irure dolor in reprehenderit in?</strong></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h5><strong>Q:Dolor sit amet, consectetur adipisicing?</strong></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}